
.slider-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
}

.range-slider {
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
    border-radius: 5px;
    background: linear-gradient(90deg, #007BFF 0%, #007BFF 100%);
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #007BFF;
    cursor: pointer;
}

.range-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #007BFF;
    cursor: pointer;
}

.slider-value {
    font-size: 18px;
    color: #333;
}


@media screen and (max-width: 600px) {
    .slider-box {
        padding: 5px;
    }
}