.container.first-slide {
  width: 100vw;
  text-align: center;
  margin-top: 5rem;
}

.container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.content .address {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: var(--search-padding);
  border-radius: 3rem;
  box-shadow: 0 0 0.3rem #e7e6e6;
}

.address svg {
  border: 0.1rem solid rgb(228, 228, 228);
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.content p {
  color: var(--secondary-color);
  font-size: .9rem;
}

.score {
  margin: 2rem 0;
}

.calculate-btn {
  display: flex;
  align-items: center;
  width: 400px;
  height: 68px;
  padding: 20px 30px 20px 30px;
  border-radius: 100px;
  gap: 8px;
  position: relative;
  background-color: var(--score-color);
}

.calculate-btn:hover {
  background-color: #6a2cd6;
}

.calculate-btn svg {
  fill: white;
  font-size: 1.3rem;
  transition: transform 0.3s ease;
}

.calculate-btn:hover svg {
  transform: translateX(0.5rem);
}

.calculate-btn button {
  background-color: var(--score-color);
  color: white;
  border: none;
  outline: none;
  font-size: 1.1rem;
}

.calculate-btn:hover button {
  background-color: #6a2cd6;
}

@media screen and (max-width: 600px) {
  .container.first-slide {
    margin-top: 4rem;
  }

  .container.first-slide .content {
    gap: 2rem;
  }
  
.content .address {
  gap: .8rem;
}
.address svg {
  width: 2rem;
  height: 2rem;
}
.calculate-btn {
  width: 300px;
  height: 50px;
  padding: 12px 22px 12px 22px;
  margin-bottom: 2rem;
}

.calculate-btn button {
  font-size: .8rem;
}
}
